@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Faster+One&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: blueviolet;
}
h1 {
  font-family: "BonheurRoyale", system-ui;
  text-align: center;
}
